In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 617.7 kB/s eta 0:00:00m eta 0:00:01[36m0:00:09
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 889.5 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845499 sha256=3313a140c6cac7c68491535354b13f37d0fbe34535d71805278c46951edc3d45
  Stored in directory: /home/sharpnel/.cache/pip/wheels/51/c8/18/298a4ced8ebb3ab8a7d26a7198c0cc7035abb906bde94a4c4b
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [1]:
import pyspark
from pyspark.rdd import RDD
from pyspark.sql import Row
from pyspark.sql import DataFrame
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import functions
from pyspark.sql.functions import lit, desc, col, size, array_contains\
, isnan, udf, hour, array_min, array_max, countDistinct
from pyspark.sql.types import *

In [2]:
spark = SparkSession \
    .builder \
    .appName("carCrash") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/24 23:36:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
purchaseSchema = StructType([
    StructField("Date", DateType(), True),
    StructField("Time", StringType(), True),
    StructField("City", StringType(), True),
    StructField("Item", StringType(), True),
    StructField("Total", FloatType(), True),
    StructField("Payment", StringType(), True),
])

In [3]:
purchaseDataframe = spark.read.csv(
    "../resources/raw/Primary_Person_use.csv", 
    header=True, inferSchema=True, sep=",")
#show 3 rows of our DataFrame
print(purchaseDataframe.show(3))

23/01/24 23:36:25 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
+--------+--------+--------+------------+------------------+-----------------+--------+-----------------+------------+------------+-------------------+-----------------+--------------+-----------+---------------------+----------------+------------------+---------------------+----------------+-----------------+---------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+--------------------+-----------------+------------------+--------+
|CRASH_ID|UNIT_NBR|PRSN_NBR|PRSN_TYPE_ID|PRSN_OCCPNT_POS_ID|PRSN_INJRY_SEV_ID|PRSN_AGE|PRSN_ETHNICITY_ID|PRSN_GNDR_ID|PRSN_EJCT_ID|       PRSN_REST_ID|   PRSN_AIRBAG_ID|PRSN_HELMET_ID|PRSN_SOL_FL|PRSN_ALC_SPEC_TYPE_ID|PRSN_ALC_RSLT_ID|PRSN_BAC_TEST_RSLT|PRSN_DRG_SPEC_TYPE_ID|PRSN_DRG_RSLT_ID|DRVR_DRG_CAT_1_ID|PRSN_DEATH_TIME|INCAP_INJRY_CNT|NONINCAP_INJRY_CNT|POSS_INJRY_CNT|NON_INJRY_CNT|UNKN_INJRY_CNT|TOT_INJRY_CNT|DEATH_CNT|    DRVR_LIC_TYPE_ID|DRVR_LIC_STATE_ID|   DRVR_LIC_CLS_ID|DRVR_ZIP|
+--------+--------+--------+------------+------------------+-----------------+--------+-----------------+------------+------------+-------------------+-----------------+--------------+-----------+---------------------+----------------+------------------+---------------------+----------------+-----------------+---------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+--------------------+-----------------+------------------+--------+
|14768622|       1|       1|      DRIVER|        FRONT LEFT|      NOT INJURED|      27|         HISPANIC|        MALE|          NO|               NONE|DEPLOYED MULTIPLE|NOT APPLICABLE|          N|                BLOOD|        Positive|             0.225|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           null|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|            Texas|           CLASS C|   77357|
|14838637|       1|       1|      DRIVER|        FRONT LEFT|      NOT INJURED|      31|            WHITE|        MALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|               BREATH|        Positive|              0.21|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           null|              0|                 0|             0|            1|             0|            0|        0|      DRIVER LICENSE|         New York|OTHER/OUT OF STATE|   13830|
|14838637|       2|       1|      DRIVER|        FRONT LEFT|      NOT INJURED|      41|            BLACK|        MALE|          NO|SHOULDER & LAP BELT|     NOT DEPLOYED|NOT APPLICABLE|          N|                 NONE|              NA|                NA|                 NONE|  NOT APPLICABLE|   NOT APPLICABLE|           null|              0|                 0|             0|            1|             0|            0|        0|COMMERCIAL DRIVER...|            Texas|           CLASS A|   78934|
+--------+--------+--------+------------+------------------+-----------------+--------+-----------------+------------+------------+-------------------+-----------------+--------------+-----------+---------------------+----------------+------------------+---------------------+----------------+-----------------+---------------+---------------+------------------+--------------+-------------+--------------+-------------+---------+--------------------+-----------------+------------------+--------+
only showing top 3 rows

None

In [4]:
num_rows = purchaseDataframe.count()
print("number of rows: ", num_rows)

number of rows:  156954

In [5]:
male_killed_df = purchaseDataframe.filter("PRSN_GNDR_ID =='MALE' and  DEATH_CNT==1").select('CRASH_ID').distinct().count()

In [6]:
male_killed_df

180

In [7]:
purchaseDataframe.select('CRASH_ID','PRSN_GNDR_ID','DEATH_CNT').distinct().groupBy("PRSN_GNDR_ID","DEATH_CNT").count().alias("Death Count").where("DEATH_CNT==1").toPandas()

  PRSN_GNDR_ID  DEATH_CNT  count
0         MALE          1    180
1       FEMALE          1     64

In [8]:
purchaseDataframe.schema

StructType([StructField('CRASH_ID', IntegerType(), True), StructField('UNIT_NBR', IntegerType(), True), StructField('PRSN_NBR', IntegerType(), True), StructField('PRSN_TYPE_ID', StringType(), True), StructField('PRSN_OCCPNT_POS_ID', StringType(), True), StructField('PRSN_INJRY_SEV_ID', StringType(), True), StructField('PRSN_AGE', StringType(), True), StructField('PRSN_ETHNICITY_ID', StringType(), True), StructField('PRSN_GNDR_ID', StringType(), True), StructField('PRSN_EJCT_ID', StringType(), True), StructField('PRSN_REST_ID', StringType(), True), StructField('PRSN_AIRBAG_ID', StringType(), True), StructField('PRSN_HELMET_ID', StringType(), True), StructField('PRSN_SOL_FL', StringType(), True), StructField('PRSN_ALC_SPEC_TYPE_ID', StringType(), True), StructField('PRSN_ALC_RSLT_ID', StringType(), True), StructField('PRSN_BAC_TEST_RSLT', StringType(), True), StructField('PRSN_DRG_SPEC_TYPE_ID', StringType(), True), StructField('PRSN_DRG_RSLT_ID', StringType(), True), StructField('DRVR_DRG_CAT_1_ID', StringType(), True), StructField('PRSN_DEATH_TIME', TimestampType(), True), StructField('INCAP_INJRY_CNT', IntegerType(), True), StructField('NONINCAP_INJRY_CNT', IntegerType(), True), StructField('POSS_INJRY_CNT', IntegerType(), True), StructField('NON_INJRY_CNT', IntegerType(), True), StructField('UNKN_INJRY_CNT', IntegerType(), True), StructField('TOT_INJRY_CNT', IntegerType(), True), StructField('DEATH_CNT', IntegerType(), True), StructField('DRVR_LIC_TYPE_ID', StringType(), True), StructField('DRVR_LIC_STATE_ID', StringType(), True), StructField('DRVR_LIC_CLS_ID', StringType(), True), StructField('DRVR_ZIP', StringType(), True)])

In [15]:
from pyspark.sql.functions import col,isnan, when, count

In [16]:
purchaseDataframe.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in purchaseDataframe.columns]
   ).show()

AnalysisException: cannot resolve 'isnan(PRSN_DEATH_TIME)' due to data type mismatch: argument 1 requires (double or float) type, however, 'PRSN_DEATH_TIME' is of timestamp type.;
'Aggregate [count(CASE WHEN (isnan(cast(CRASH_ID#17 as double)) OR isnull(CRASH_ID#17)) THEN CRASH_ID END) AS CRASH_ID#403L, count(CASE WHEN (isnan(cast(UNIT_NBR#18 as double)) OR isnull(UNIT_NBR#18)) THEN UNIT_NBR END) AS UNIT_NBR#405L, count(CASE WHEN (isnan(cast(PRSN_NBR#19 as double)) OR isnull(PRSN_NBR#19)) THEN PRSN_NBR END) AS PRSN_NBR#407L, count(CASE WHEN (isnan(cast(PRSN_TYPE_ID#20 as double)) OR isnull(PRSN_TYPE_ID#20)) THEN PRSN_TYPE_ID END) AS PRSN_TYPE_ID#409L, count(CASE WHEN (isnan(cast(PRSN_OCCPNT_POS_ID#21 as double)) OR isnull(PRSN_OCCPNT_POS_ID#21)) THEN PRSN_OCCPNT_POS_ID END) AS PRSN_OCCPNT_POS_ID#411L, count(CASE WHEN (isnan(cast(PRSN_INJRY_SEV_ID#22 as double)) OR isnull(PRSN_INJRY_SEV_ID#22)) THEN PRSN_INJRY_SEV_ID END) AS PRSN_INJRY_SEV_ID#413L, count(CASE WHEN (isnan(cast(PRSN_AGE#23 as double)) OR isnull(PRSN_AGE#23)) THEN PRSN_AGE END) AS PRSN_AGE#415L, count(CASE WHEN (isnan(cast(PRSN_ETHNICITY_ID#24 as double)) OR isnull(PRSN_ETHNICITY_ID#24)) THEN PRSN_ETHNICITY_ID END) AS PRSN_ETHNICITY_ID#417L, count(CASE WHEN (isnan(cast(PRSN_GNDR_ID#25 as double)) OR isnull(PRSN_GNDR_ID#25)) THEN PRSN_GNDR_ID END) AS PRSN_GNDR_ID#419L, count(CASE WHEN (isnan(cast(PRSN_EJCT_ID#26 as double)) OR isnull(PRSN_EJCT_ID#26)) THEN PRSN_EJCT_ID END) AS PRSN_EJCT_ID#421L, count(CASE WHEN (isnan(cast(PRSN_REST_ID#27 as double)) OR isnull(PRSN_REST_ID#27)) THEN PRSN_REST_ID END) AS PRSN_REST_ID#423L, count(CASE WHEN (isnan(cast(PRSN_AIRBAG_ID#28 as double)) OR isnull(PRSN_AIRBAG_ID#28)) THEN PRSN_AIRBAG_ID END) AS PRSN_AIRBAG_ID#425L, count(CASE WHEN (isnan(cast(PRSN_HELMET_ID#29 as double)) OR isnull(PRSN_HELMET_ID#29)) THEN PRSN_HELMET_ID END) AS PRSN_HELMET_ID#427L, count(CASE WHEN (isnan(cast(PRSN_SOL_FL#30 as double)) OR isnull(PRSN_SOL_FL#30)) THEN PRSN_SOL_FL END) AS PRSN_SOL_FL#429L, count(CASE WHEN (isnan(cast(PRSN_ALC_SPEC_TYPE_ID#31 as double)) OR isnull(PRSN_ALC_SPEC_TYPE_ID#31)) THEN PRSN_ALC_SPEC_TYPE_ID END) AS PRSN_ALC_SPEC_TYPE_ID#431L, count(CASE WHEN (isnan(cast(PRSN_ALC_RSLT_ID#32 as double)) OR isnull(PRSN_ALC_RSLT_ID#32)) THEN PRSN_ALC_RSLT_ID END) AS PRSN_ALC_RSLT_ID#433L, count(CASE WHEN (isnan(cast(PRSN_BAC_TEST_RSLT#33 as double)) OR isnull(PRSN_BAC_TEST_RSLT#33)) THEN PRSN_BAC_TEST_RSLT END) AS PRSN_BAC_TEST_RSLT#435L, count(CASE WHEN (isnan(cast(PRSN_DRG_SPEC_TYPE_ID#34 as double)) OR isnull(PRSN_DRG_SPEC_TYPE_ID#34)) THEN PRSN_DRG_SPEC_TYPE_ID END) AS PRSN_DRG_SPEC_TYPE_ID#437L, count(CASE WHEN (isnan(cast(PRSN_DRG_RSLT_ID#35 as double)) OR isnull(PRSN_DRG_RSLT_ID#35)) THEN PRSN_DRG_RSLT_ID END) AS PRSN_DRG_RSLT_ID#439L, count(CASE WHEN (isnan(cast(DRVR_DRG_CAT_1_ID#36 as double)) OR isnull(DRVR_DRG_CAT_1_ID#36)) THEN DRVR_DRG_CAT_1_ID END) AS DRVR_DRG_CAT_1_ID#441L, count(CASE WHEN (isnan(PRSN_DEATH_TIME#37) OR isnull(PRSN_DEATH_TIME#37)) THEN PRSN_DEATH_TIME END) AS PRSN_DEATH_TIME#443, count(CASE WHEN (isnan(cast(INCAP_INJRY_CNT#38 as double)) OR isnull(INCAP_INJRY_CNT#38)) THEN INCAP_INJRY_CNT END) AS INCAP_INJRY_CNT#445L, count(CASE WHEN (isnan(cast(NONINCAP_INJRY_CNT#39 as double)) OR isnull(NONINCAP_INJRY_CNT#39)) THEN NONINCAP_INJRY_CNT END) AS NONINCAP_INJRY_CNT#447L, count(CASE WHEN (isnan(cast(POSS_INJRY_CNT#40 as double)) OR isnull(POSS_INJRY_CNT#40)) THEN POSS_INJRY_CNT END) AS POSS_INJRY_CNT#449L, ... 8 more fields]
+- Relation [CRASH_ID#17,UNIT_NBR#18,PRSN_NBR#19,PRSN_TYPE_ID#20,PRSN_OCCPNT_POS_ID#21,PRSN_INJRY_SEV_ID#22,PRSN_AGE#23,PRSN_ETHNICITY_ID#24,PRSN_GNDR_ID#25,PRSN_EJCT_ID#26,PRSN_REST_ID#27,PRSN_AIRBAG_ID#28,PRSN_HELMET_ID#29,PRSN_SOL_FL#30,PRSN_ALC_SPEC_TYPE_ID#31,PRSN_ALC_RSLT_ID#32,PRSN_BAC_TEST_RSLT#33,PRSN_DRG_SPEC_TYPE_ID#34,PRSN_DRG_RSLT_ID#35,DRVR_DRG_CAT_1_ID#36,PRSN_DEATH_TIME#37,INCAP_INJRY_CNT#38,NONINCAP_INJRY_CNT#39,POSS_INJRY_CNT#40,... 8 more fields] csv